@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: src(../../CoffeeBeans.jpg)">
<div class="text-center">
    <h1 class="display-2"><b>Welcome to <i>Detroit Buzz!</i></b></h1>
    <h4 class= "display-4">Coffee Shop and Community Center</h4>
    <br>
    <br>
    <p>The perfect place to get your coffee fix and get your fix of gossip, too!</p>
    <p>Have a look at our many deliciously caffeinated offerings, or register for our rewards program if you're new!</p>
    <p>Check our navigation bar in the top left for options!</p>
</div>
</body>
