@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our privacy policy:</p>
<br>
<p>There isn't one! </p>
<br>
<p><i>Detroit Buzz!</i> reserves the right to track user spending habits of its customers in any way we see fit.</p>
<p>Seem unfair? Well, in our defense, the employee who drafted this policy was hyped up on a number of our delicious, overcaffeinated beverages.</p>
<br>
<p>That's right! Our products are so deliciously addictive they can even make a lawyer speak in an uncouth manner!</p>
<p>This is why here at <i>Detroit Buzz!</i> we like to let our coffee speak for itself...And then track your information to let it speak some more!</p>

