@model Product

<h2>Here's more information on the product you've selected!</h2>
<br>
<div>
     <p><b>Name</b>:</p> 
     <p>@Model.Name</p>
     <br>
     <p><b>Price</b>:</p> 
     <p>$@Model.Price</p>
     <br>
     <p><b>Sizes:</b></p>
     <p>@Model.Sizes</p>
     <br>
     <p><b>Calories:</b></p> 
     <p>@Model.Calories</p>
     <br>
     <p><b>Description:</b></p>
     <p>@Model.Description</p>
     <br>
     <br>
</div>