<form asp-action="Register" asp-controller="Home" method="post">
    
    <h2><i>Detroit Buzz!</i> Points Program:</h2>
    <p>Enroll in our points program for special rewards and purchase discounts!</p>
    <p>Enter your information below to sign up!</p>
    <br>
    <p>Your First Name:</p>
    <input type = "text" name= "FirstName">
    <br>
    <br>
    <p>Your Last Name:</p>
    <input type = "text" name= "LastName"/>
    <br>
    <br>
    <p>Your Email:</p>
    <input type = "text" name= "Email"/>
    <br>
    <br>
    <p>Password:</p>
    <input type = "text" name= "Password"/>
    <br>
    <br>
    <input type = "submit"/>
    <br>
    <br>
</form>