@model Customer

<h2>Thank you for signing up for our rewards program!</h2>
<p>Pay attention to your email for special offers and rewards.</p>

<br>
<p>Here's the information you've added to our records:</p>
<br>
<div>
     <p><b>First Name:</b> @Model.FirstName</p>
     <p><b>Last Name:</b> @Model.LastName</p>
     <p><b>Email:</b> @Model.Email</p>
     <p><b>Password:</b> *********</p>
</div>